:root {
    --text-light: #000000;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;

    background-image: url("../images/egypt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header .heading {
    color: #fff;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    padding: 1em;
    gap: 1em;

}
.categories__item {
    position: relative;
    color: inherit;
    /* max-height: 80vh; */
}
.categories__item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
    border-radius: 1em;
}

figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}